.dropdown {
	position: relative;
	/* margin-left: 10px; */
	float: right;
	top: 10px;
	right: 30px;
}

.dropdown * {
	transition: all 0.25s;
}

.dropbutton {
	background: none;
	color: grey;
	border: 2px solid grey;
	border-radius: 4px;
}

.dropdown-content {
	display: none;
	position: absolute;
	left: -65px;
	padding: 15px;
	min-width: 190px;
	box-shadow: 0px 5px 15px 1px black;
	color: white;
	background-color: #222;
	background-image: url('../../assets/pattern.png');
	z-index: 5;
}

.dropdown-content > a, .dropdown-content > ul {
	color: grey;
	text-decoration: none;
	list-style: none;
	padding: 0px;
}

.dropdown-content a:hover, .dropdown-content a:active, .dropdown-content > ul > li:hover {
	padding: 3px;
	box-shadow: 0px 0px 15px 0px black;
	color: white;
	text-decoration: none;
	border-radius: 4px;
	cursor: pointer;
}

.dropdown:hover .dropdown-content, .dropdown:active .dropdown-content {
	display: block;
}

.dropdown:hover .dropbutton, .dropdown:active .dropbutton {
	box-shadow: 0px 0px 10px 0px grey;
}

