.route-link {
  text-decoration: none;
  color: cadetblue;
}

.body.body-tips {
  font-size: 16px;
  display: block;
  padding: 10px;
  margin: 0 auto;
	max-width: 100%;
  width: 75%;
}
pre {
  overflow-x: auto;
}
