.dropdown {
	position: relative;
	/* display: inline-block; */
	margin-left: 10px;
	float: right;
	top: 10px;
}
.dropdown *{
	transition: all 0.25s;
}
.dropbutton {
	background: none;
	color: grey;
	border: 2px solid grey;
	border-radius: 4px;
}
.dropdown-content {
	display: none;
	position: absolute;
	padding: 5px;
	min-width: 190px;
	box-shadow: 0px 5px 15px 1px black;
	color: white;
	background-color: #222;
	background-image: url('../assets/pattern.png');
}

.dropdown-content > a {
	color: grey;
	text-decoration: none;
}
.dropdown-content a:hover, .dropdown-content a:active {
	padding: 3px;
	box-shadow: 0px 0px 15px 0px black;
	color: white;
	text-decoration: none;
	border-radius: 4px;
}
.dropdown:hover .dropdown-content, .dropdown:active .dropdown-content {
	display: block;
}
.dropdown:hover .dropbutton, .dropdown:active .dropbutton {
	box-shadow: 0px 0px 15px 0px grey;
}

