.header-bar {
	position: absolute;
	height: 100px;
	width: 10px;
	border: 4px solid grey;
	background-color: #222;
	background-image: url('../assets/pattern.png');	
}

.header-bar.left {
	top: -15px;
	left: 20px;
}

.header-bar.right {
	top: -15px;
	right: 20px;
}

.header-shadow {
	border: 10px solid;
	position: absolute;
	border-color: rgb(29, 29, 29) transparent transparent;
	display: block;
	width: 0px;
	height: 0px;
	z-index: -1;
}

.header-shadow.left.top {
	left: 4px;
	transform: rotate(45deg);
}

.header-shadow.left.bottom {
	bottom: -14px;
	left: 5px;
}

.header-shadow.right.top {
	left: -14px;
	transform: rotate(-45deg);
}

.header-shadow.right.bottom {
	bottom: -14px;
	left: -15px;
}

.code-logo {
	position: relative;
	animation: logo-spin infinite 20s linear;
	height: 20px;
	margin-right: 10px;
	top: 10px;
	left: 25px;
	float: left;
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.header {
	position: relative;
	background-color: #222;
	background-image: url('../assets/pattern.png');
	height: 40px;
	padding: 20px;
	/* color: white; */
	grid-column: 1 / -1;
	border: 4px solid grey;
}

.title {
	font-size: 1.5em;
	text-align: center;
	margin: 5px;
	font-family: 'MyWebFont';
}
.title > a {
	color: white;
	text-decoration: none;
}
.title > a:visited {
	color: white;
	text-decoration: none;
}

.header > h2 {
	margin: 0px;
}
